.link {
    text-align: center;
    padding: 15px;
    background-color: #ffffff;
    border: solid black 1px;
    color: gray;
}

.buttons:hover {
    background-color: royalblue;
}

body {
    background-color: #da291c;
}

h2 {
    text-align: left;
    font-size: 80px;
    color: #8d0f0f;
    padding: 20px;
    margin: 15px;
}

.row {
    height: 31%;
}

.heading {
    font-size: 70px;
    color: white;
    height: 75px;
}

.headinghours {
    font-size: 55px;
    color: white;
    height: 75px;
}

.mainMenuImage1 {
    width: 100%;
    height: auto;

}

.mainMenuImage2 {

    width: 75%;
    height: auto
}

.mainMenuImage3 {
    height: auto;
    width: 80%;
}

.mainMenuImage4 {
    margin-top: 13%;
    height: auto;
    width: 60%;
}

.mainMenuImage5 {
    width: 80%;
    height: auto;
}

.mainMenuImage6 {
    margin-top: 8%;
    width: 55%;
    height: auto;
}

.peakMenuImage1 {
    height: auto;
    width: 80%;
}

.peakMenuImage2 {
    margin-top: 13%;
    height: auto;
    width: 60%;
}

.peakMenuImage3 {
    height: auto;
    width: 80%;
}

.peakMenuImage4 {
    margin-top: 13%;
    height: auto;
    width: 60%;
}

.peakMenuImage5 {
    height: auto;
    width: 80%;
}

.peakMenuImage6 {
    height: auto;
    width: 80%;
}

.btn {
    border: 1px solid #930000;
    font-size: 50px;
    padding: 15px;
}

.dropdown-menu {
    padding: 15px;
    border: 1px solid #930000;
    font-size: 50px;
}

body {
    overflow: hidden;
    font-size: 50px;
}

.content p {
    text-align: left;
    margin-left: 10%;
    margin-bottom: 5%;
}

.GymSchedule img {
    height: auto;
    width: 60%;
}

.hoursPeakTime img {
    width: 80%;
}

.accord {
    border: none;
}

.accordion {
    width: 100%;
    margin: 0%;
}

.card {
    width: 100%;
    margin: 0%;
}

.graph {
    height: 20%;
    width: 100%;

}

.peakTimesWeightsBottom {
    height: 210%;
}

.peakTimesWeightsBottom img {
    height: auto;
    width: 100%;
}

.accordLabel {
    color: #8d0f0f;
}

.accordLabel:focus {
    color: #8d0f0f;
}

.accordLabel: {
    color: #8d0f0f;
}

.back {
    color: #ffffff;
    border: none;
    font-size: 60px;
}

.peaktimesButtons img {
    height: 40%;
    width: auto;
    color: #8d0f0f;
}

.mainGraph {
    height: 40%;
}

.google {
    margin-top: 8%;
}

.peaktimesclock {
    margin-top: 10%;
    height: auto;
    width: 60%;
}
