.link {
    text-align: center;
    padding: 15px;
    background-color: #ffffff;
    border: solid black 1px;
    color: gray;
}

.link:hover {
    background-color: #8d0f0f;
}

body {
    background-color: #bc2d2d;
}

.row {
    height: 30%;
}

.heading {
    color: black;
}

.mainMenuImage1 {
    width: 100%;
    height: auto;
}

.mainMenuImage2 {
    margin-top: 13%;
    width: 75%;
    height: auto
}

.mainMenuImage3 {
    margin-top: 13%;
    height: auto;
    width: 40%;
}

.mainMenuImage4 {
    margin-top: 13%;
    height: auto;
    width: 60%;
}

.mainMenuImage5 {
    width: 100%;
    height: auto;
}
