
.content{
	background-color:#fff;
}

.user-icon-lg{
	width:auto;
	height:auto;
}

.user-details{
	font-size:130%;
}


.pageseparator{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	margin-top:10px;
	margin-bottom:10px;
	height:1px;
	border:2px solid gray;
}
